<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원가입 성공</title>
  <link rel="stylesheet" href="css/login_resiger.css">
</head>
<body>
  <header class="border">
    <div class="container ">
      <nav>
        <a href="/" class="logo">TBSWB</a>
      </nav>
    </div>
  </header>

  <main id="site-main">
    <div class="card">

      <div class="card-header">
        <h1 class="card-title">회원가입 성공</h1>
        <p class="card-description">회원가입에 성공 했습니다.</p>
      </div>

      <div class="card-footer">
        <div class="text-button-wrap">
          <a href="/login" class="text-button">로그인</a>
        </div>
      </div>

    </div>
  </main>
</body>
</html>
